<link rel="stylesheet" href="assets/styles/{{userThemeColor}}.css">
<div id="navbar" class="navbar navbar-default" style="background:black;" >
<div class="navbar-container" id="navbar-container">
    <button type="button" class="navbar-toggle menu-toggler pull-right" id="menu-toggler" data-target="#sidebar" style="    margin-left: 6px;">
        <span class="sr-only">Toggle sidebar</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
    </button>

    <div class="navbar-header pull-left">
        <a href="/#/dashboard" class="navbar-brand" style="    width: 112px;

    margin: 4px;
    background: #fff;padding: 0">

            <img class="nav-user-photo" src="../../../assets/images/oficeDepo_Logo.jpg" alt="officeDepo" style="width: 100%" />
        </a>
    </div>

    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">


            <li class="light-blue" ng-class="{true:'open', false:''}[open]">
                <a data-toggle="dropdown" ng-click="hideshow($parent)" class="dropdown-toggle menuClick">
                    <!--<img class="nav-user-photo" src="../../assets/avatars/praveen.jpg" alt="Jason's Photo" />-->
								<span class="">
									<!--<small>Welcome</small>-->
									{{globals.currentUser.username}}
								</span>

                    <i class="ace-icon fa fa-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">


                    <li>
                        <a href="#" ng-click="logout()">
                            <i class="ace-icon fa fa-power-off"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
    </div>
    <!-- /.navbar-container -->



