<div ng-cloak >

        <div class="breadcrumbs" id="breadcrumbs">

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Dashboard</li>
            </ul><!-- /.breadcrumb -->

           <!-- <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                </form>
            </div>--><!-- /.nav-search -->
        </div>

        <div class="page-content">


            <div class="page-header">
                <h1>
                    Go Indigo{{xx}}
                   <!-- <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        overview &amp; stats
                    </small>-->
                </h1>
            </div><!-- /.page-header -->




            <div class="container-fluid">
            <div class="row">
                    <!-- begin col-3 -->
                    
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-green">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                            <div class="stats-title">Delay in Departures</div>
                            <div ><span class="stats-number">{{depdelay}}</span>&nbsp;<span>mins</span></div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 70.1%;"></div>
                            </div>
                            <div class="stats-desc">On an Average ({{depdelay/99 | number :2}})</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-blue">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                            <div class="stats-title">Delay in Arrivals</div>
                            <div ><span class="stats-number">{{arrdelay}}</span>&nbsp;<span>mins</span></div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 40.5%;"></div>
                            </div>
                            <div class="stats-desc">On an Average({{arrdelay/99 | number :2}})</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-purple">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-plane fa-fw"></i></div>
                            <div class="stats-title">Day Time Flights</div>
                            <div ><span class="stats-number">{{morningFlights}}</span>&nbsp;<span></span></div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 76.3%;"></div>
                            </div>
                            <div class="stats-desc">06:00-18:00 hrs </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-black">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-plane fa-fw"></i></div>
                            <div class="stats-title">Night Time Flights</div>
                            <div ><span class="stats-number">{{nightFlights}}</span>&nbsp;</div>
                            
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 54.9%;"></div>
                            </div>
                            <div class="stats-desc">18:00-06:00 hrs</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                                        <!-- end col-3 -->
                </div>
                

                <div class="row" ng-if="CanViewTable">
                	<div class="col-xs-12 col-sm-12 col-md-12">
                    		<table class="table table-bordered text-center" >
							    <thead>
							      <tr>
							        <th class="text-center">Flight Details</th>
							        <th class="text-center">Date</th>
							        <th class="text-center">Origin</th>
							        <th class="text-center">Destination</th>
							        <th class="text-center">Distance(miles)</th>
							        <th class="text-center">Airtime(min)</th>
							        <th class="text-center">Dept. Time(delay)</th>
							        <th class="text-center">Arrival Time(delay)<a  id="save" ng-if="CanExportTable" ng-click="exportData(airlineTableData,'Flight Timings')" ng-model="airlineTableData">&nbsp;<span class="glyphicon glyphicon-export"></span></a></th>
							        
							      </tr>
							    </thead>
							    <tbody>
							      <tr ng-repeat="pl in airlineTableData | limitTo:10">
							        <td>{{pl.unique_carrier}}-{{pl.tailnum}}-{{pl.flightnum}}</td>
							        <td>{{pl.year}}-{{pl.month|date :'MM'}}-{{pl.day }}</td>
							        <td>{{pl.origin}}</td>
							        <td>{{pl.dest}}</td>
							        <td>{{pl.dist}}</td>
							        <td>{{pl.airtime}}</td>
							        <td>{{pl.deptime}}<small>({{pl.depdelay}})</small></td> 
							        <td>{{pl.arrtime}}<small>({{pl.arrdelay}})</small></td>
							        
							      </tr>
							    </tbody>
							  </table>
                    </div>	
                </div>
                                
                <div class="row" ng-if="CanViewFlightTimingChart">               
                    <div class="col-xs-12 col-sm-12 col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Flight Timings - Departure V/s Arrivals &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <small><b >(&nbsp;00:00-06:00,&nbsp; &nbsp;06:00-12:00,&nbsp;&nbsp; 12:00-18:00,&nbsp;&nbsp;18:00-23:59&nbsp;)</b></small> 
                                 <div class="widget-icons pull-right" ng-if="CanExportFlightTimingChart">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(c3StackedBarTimings,'Flight Frequency Timings')" ng-model="c3StackedBarTimings"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5" ng-if="CanExportFlightTimingChart">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#c3BarChart','Bar Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>

                            </div>
                            <div class="panel-body">

                                <div id="c3StackedBarTimings"></div>

                                <style>
                                    .axis path,
                                    .axis line {
                                        fill: none;
                                        stroke: black;
                                        shape-rendering: crispEdges;
                                    }
                                    .axis text {
                                        font-family: sans-serif;
                                        font-size: 11px;
                                    }

                                    rect {
                                        -moz-transition: all 0.3s;
                                        -webkit-transition: all 0.3s;
                                        -o-transition: all 0.3s;
                                        transition: all 0.3s;
                                    }
                                    rect:hover{
                                        fill: red;
                                    }
                                </style>

                            </div>
                        </div>
                    </div>

                </div> <!--  End of row -->
                 <div class="row" ng-if="CanViewFreqentAirportChart">
                	<div class="col-xs-12 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i>  Frequent Airports - Departure
                                <div class="widget-icons pull-right" ng-if="CanExportFreqentAirportChart">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(c3BarChartData,'c3Bar Chart')" ng-model="c3BarChartData"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5" ng-if="CanExportFreqentAirportChart">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#c3BarChart',' Bar Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>

                            </div>
                            <div class="panel-body">


                                <div id="c3originPieChart"></div>


                            </div>
                        </div>

                    </div>
                   

					<div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-12 col-sm-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Frequent Airports - Arrival
                                <div class="widget-icons pull-right" ng-if="CanExportFreqentAirportChart">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(c3DonutChartData,'Donut Chart')" ng-model="c3DonutChartData"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5" ng-if="CanExportFreqentAirportChart">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#c3DonutChart','Donut Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>
                            </div>
                            <div class="panel-body">

                                <div id="c3destPieChart"  ></div>


                            </div>
                        </div>

                    </div>
					
                </div><!-- end of row -->
                
                <div class="row" ng-if="CanViewDelayChart">
                	<div class="col-xs-12 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Delay in Airport Departures - Resulting in Delay in Flight
                                <div class="widget-icons pull-right" ng-if="CanExportDelayChart">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(d3BarChartData,'Bar Chart')" ng-model="d3BarChartData"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5" ng-if="CanExportDelayChart">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#d3BarChart','Bar Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>

                            </div>
                            <div class="panel-body">

                                <div id="d3BarChart"></div>


                                <script>

                                </script>

                            </div>
                        </div>

                    </div>
                </div> <!-- end of row -->
                
                

            </div>
            <!-- /.row -->
        </div><!-- /.page-content -->

</div>
