<div ng-cloak >

    <!--<div class="breadcrumbs" id="breadcrumbs">-->

        <!--<ul class="breadcrumb">-->
            <!--<li>-->
                <!--<i class="ace-icon fa fa-home home-icon"></i>-->
                <!--<a href="#/dashboard">Executive Dashboard</a>-->
            <!--</li>-->
            <!--<li class="active ODbold">DC Dashboard Level One</li>-->
        <!--</ul>&lt;!&ndash; /.breadcrumb &ndash;&gt;-->

    <!--</div>-->

    <div class="page-content">
        <div class="page-header ODHeader" style="min-height:71px;">
            <div class="row" >
                <div class="col-sm-2 ">
                    <md-content class="ODHeaderDate" style="width:190px;padding:0px"margin-top:6px; >
                        <md-datepicker ng-model="myDate" md-placeholder="Choose date"></md-datepicker>
                    </md-content>
                </div>
                <div class="col-sm-2">
                    <!--<select style="border-radius:3px; margin-top:15px; border-color:#fff;"-->
                    <!--ng-init="item = currencies[0]"-->
                    <!--ng-options="currency as currency.name for currency in currencies"-->
                    <!--ng-model="item" ng-change="update()">-->
                    <!--</select>-->
                    <md-select class="ODHeaderDropdown" style="padding:0px;text-align:center;height:37px;margin-top:5px;" ng-init="item = currencies[0]"
                               ng-model="item" ng-change="update()">
                        <md-option  ng-repeat="currency in currencies" ng-value="currency">{{currency.name}}
                        </md-option>
                    </md-select>
                </div>
                <div class="col-sm-5">
                    <h4 class="ODscreenHeadingText animated bounce"  style="margin-top:20px;">EU DC OTAC & Performance Summary</h4>
                </div>
                <div class="col-sm-3">
                    <img class="OdRefreshBtn" src="assets/images/refreshBtn.png" onclick="location.reload()">
                    <div class="btn btn-default ODbackBtn" style="  background-color: #fff !important;
    color: black !important;
    margin-top: 13px;
    float: right;
    margin-right: 10px;">
                        <a href="#/dashboard">Back</a>
                    </div>
                </div>

            </div>
        </div><!-- /.page-header -->

        <div class="container-fluid" >

            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 ODpanelBackgorund animated fadeInUpBig">
                    <div class="panel panel-default ">
                        <div class="panel-heading ODheading " >
                            <p style="margin-top:10px;">DC THROUGHPUT</p>
                        </div>
                            <div class="panel-body" style="font-size:11px;">
                                <div class="col-sm-2">
                                    <table class="table table-bordered text-center table-hover ODPointer"  style="width:87px;">
                                        <thead>
                                        <tr>
                                            <th class="text-center tableHead">Overall</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Eu Total</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead >
                                        <tr >
                                            <th class="text-center tableHead">Country</th>
                                        </tr>

                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in dcDashboardOneData | limitTo:9" >
                                            <td style="word-wrap: break-word;">{{data["details.country"]}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">TOTAL</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <table class="table table-bordered text-center table-hover ODPointer" style="">
                                        <thead>
                                        <tr>
                                            <th class="text-center tableHead">DC</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in dcDashboardOneData"  ng-if="$index >= 9">
                                            <td onclick="window.location.href='#/dcDashboardTwo'"><span style="color:#fff;">aa</span>{{data["details.dc"]}}<span style="color:#fff;">aa</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-10">
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead>
                                        <tr>
                                            <th class="text-center tableHead">Orders</th>
                                            <th class="text-center tableHead">Cartons</th>
                                            <th class="text-center tableHead">Ord Lns </th>
                                            <th class="text-center tableHead">Pk Lins</th>
                                            <th class="text-center tableHead">Hours</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr >
                                            <td>2,000</td>
                                            <td>56,000</td>
                                            <td>56,000</td>
                                            <td>14,000</td>
                                            <td>88.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead>
                                        <tr >
                                            <th class="text-center tableHead">Orders</th>
                                            <th class="text-center tableHead">Cartons</th>
                                            <th class="text-center tableHead">Ord Lns </th>
                                            <th class="text-center tableHead">Pk Lins</th>
                                            <th class="text-center tableHead">Hours</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  ng-repeat="data in dcDashboardOneData | limitTo:9" ng-init="initDataFormat()">
                                            <td class="{{item.ordersFormat}}">{{data.ordersFormat}}</td>
                                            <td class="{{item.cartonsFormat}}">{{data.cartonsFormat}}</td>
                                            <td class="{{item.ord_lnsFormat}}">{{data.ord_lnsFormat}}</td>
                                            <td class="{{item.pk_lnsFormat}}">{{data.pk_lnsFormat}}</td>
                                            <td>{{data["details.hours"]}}.00</td>
                                        </tr>
                                        <tr style="font-weight:bold;">
                                            <td class="ODtableCellBorder">28,800</td>
                                            <td class="ODtableCellBorder">540,000</td>
                                            <td class="ODtableCellBorder">54,000</td>
                                            <td class="ODtableCellBorder">154,000</td>
                                            <td class="ODtableCellBorder">96.11</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead>
                                        <tr>
                                            <th class="text-center tableHead">Orders</th>
                                            <th class="text-center tableHead">Cartons</th>
                                            <th class="text-center tableHead">Ord Lns </th>
                                            <th class="text-center tableHead">Pk Lins</th>
                                            <th class="text-center tableHead">Hours</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in dcDashboardOneData "  ng-if="$index >= 9" ng-init="initDataFormat()">
                                            <td class="{{item.ordersFormat}}">{{data.ordersFormat}}</td>
                                            <td class="{{item.cartonsFormat}}">{{data.cartonsFormat}}</td>
                                            <td class="{{item.ord_lnsFormat}}">{{data.ord_lnsFormat}}</td>
                                            <td class="{{item.pk_lnsFormat}}">{{data.pk_lnsFormat}}</td>
                                            <td>{{data["details.hours"]}}.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 ODpanelBackgorund animated fadeInUpBig">
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            <p style="margin-top:10px;">DC QUALITY</p>
                        </div>
                        <div class="panel-body" style="font-size:11px;">
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr>
                                    <th class="text-center tableHead">LPMH</th>
                                    <th class="text-center tableHead">DC QLTY</th>
                                    <th class="text-center tableHead">DC SHIP </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="background:#FF7070">2,000.00</td>
                                    <td style="background:#FF7070">88.00%</td>
                                    <td style="background:#FF7070">88.00%</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr>
                                    <th class="text-center tableHead">LPMH</th>
                                    <th class="text-center tableHead">DC QLTY</th>
                                    <th class="text-center tableHead">DC SHIP </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in dcDashboardOneData | limitTo:9" ng-if="$index = 1" ng-init="initDataFormat()">
                                    <td class="{{data.lpmhColor}}">{{data.lpmhFormat}}.00</td>
                                    <td class="{{data.dc_qltyColor}}">{{data["details.dc_qlty"]}}.00%</td>
                                    <td class="{{data.dc_shipColor}}">{{data["details.dc_ship"]}}.00%</td>
                                </tr>
                                <tr style="font-weight:bold;">
                                    <td style="background:#E8C825" class="tableCellBorder">36,000.00</td>
                                    <td style="background:#E8C825" class="ODtableCellBorder">95.33%</td>
                                    <td style="background:#E8C825" class="ODtableCellBorder">94.44%</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr style="background:red;">
                                    <th class="text-center tableHead">LPMH</th>
                                    <th class="text-center tableHead">DC QLTY</th>
                                    <th class="text-center tableHead">DC SHIP </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in dcDashboardOneData " ng-if="$index >= 9" ng-init="initDataFormat()">
                                    <td class="{{data.lpmhColor}}">{{data.lpmhFormat}}.00</td>
                                    <td class="{{data.dc_qltyColor}}">{{data["details.dc_qlty"]}}.00%</td>
                                    <td class="{{data.dc_shipColor}}">{{data["details.dc_ship"]}}.00%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 ODpanelBackgorund animated fadeInUpBig" style="width:32%">
                    <div class="panel panel-default">
                        <div class="panel-heading " style="padding:0px;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="bgAquaSmaller"> View As</span>
                                    <md-input-container style="padding:0px;margin:0px;">
                                        <md-select ng-model="viewAs" placeholder="Total Sales"style="padding:0px;margin:0px;">
                                        <md-option ng-repeat="viewer in viewAs"style="padding:0px;margin:0px;">{{viewer}}
                                        </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-5">
                                    <p style="font-size:1.5em; margin-top:8px;font-weight: bold; text-align:center">DC FINANCIAL</p>
                                </div>
                                <!--<div class="col-sm-3">-->
                                    <!--<span class="bgAquaSmaller" >Currency</span>-->
                                    <!--<md-input-container>-->
                                        <!--<md-select ng-model="currency" placeholder="£ GBP ">-->

                                            <!--<md-option ng-repeat="currency in currencies">{{currency}}-->

                                            <!--</md-option>-->
                                        <!--</md-select>-->
                                    <!--</md-input-container>-->
                                <!--</div>-->
                        </div>
                        </div>
                        <div class="panel-body"  style="font-size:11px;">
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ COST </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ COST </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ COST </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£  SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$  SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ % SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ % SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ % SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / ORD </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / ORD </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / ORD </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / CTN </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / CTN </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / CTN </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / LINE </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / LINE </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / LINE </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2,000</td>
                                    <td>56,000</td>
                                    <td>220.00%</td>
                                    <td>56,000.00</td>
                                    <td>7.00</td>
                                    <TD>88.00</TD>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ COST </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ COST </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ COST </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£  SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$  SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ % SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ % SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ % SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / ORD </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / ORD </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / ORD </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / CTN </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / CTN </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / CTN </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / LINE </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / LINE </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / LINE </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in dcDashboardOneData | limitTo:9">
                                    <td class="{{item.costFormat}}">{{data.costFormat}}</td>
                                    <td class="{{item.salesFormat}}">{{data.salesFormat}}</td>
                                    <td>{{data["details.percent_sales"]}}.00%</td>
                                    <td class="{{item.ordersFormat}}">{{data.ordersFormat}}.00</td>
                                    <td>{{data["details.ctn"]}}.00</td>
                                    <TD>{{data["details.line"]}}.00</TD>
                                </tr>
                                <tr style="font-weight:bold;">
                                    <td>36,000</td>
                                    <td>612,000</td>
                                    <td>7.78%</td>
                                    <td>3200.00</td>
                                    <td>7.78</td>
                                    <td>93.78</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ COST </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ COST </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ COST </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£  SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$  SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ % SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ % SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ % SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / ORD </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / ORD </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / ORD </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / CTN </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / CTN </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / CTN </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / LINE </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / LINE </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / LINE </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in dcDashboardOneData " ng-if="$index >= 9">
                                    <td class="{{item.costFormat}}">{{data.costFormat}}</td>
                                    <td class="{{item.salesFormat}}">{{data.salesFormat}}</td>
                                    <td>{{data["details.percent_sales"]}}.00%</td>
                                    <td class="{{item.ordersFormat}}">{{data.ordersFormat}}.00</td>
                                    <td>{{data["details.ctn"]}}.00</td>
                                    <TD>{{data["details.line"]}}.00</TD>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div> <!--  End of row -->

        </div>
        <!-- /.container-fluid -->
    </div><!-- /.page-content -->

</div>
