<div ng-cloak >
    <div class="page-content">
        <div class="page-header ODHeader">
            <div class="row">
                <div class="col-sm-3" >
                    <md-content class="ODHeaderDate" >
                        <md-datepicker ng-model="myDate" md-placeholder="Choose date"></md-datepicker>
                    </md-content>
                </div>
                <div class="col-sm-2">
                    <md-select class="ODHeaderDropdown" ng-model="currency" placeholder="Manchester" >
                        <md-option  style="min-height:40px;" ng-repeat="site in sites">{{site}}
                        </md-option>
                    </md-select>
                </div>
                <div class="col-sm-4">
                    <h4 class="ODscreenHeadingText animated bounce" style="margin-top:20px;">DC DASHBOARD</h4>
                </div>
                <div class="col-sm-3">
                    <img class="OdRefreshBtn" src="../../../assets/images/refreshBtn.png" onclick="location.reload()">
                    <div class="btn btn-default ODbackBtn" style="  background-color: #fff !important;
    color: black !important;
    margin-top: 13px;
    float: right;
    margin-right: 10px;">
                        <a href="#/dcDashboardOne">Back</a>
                    </div>
                </div>

            </div>


        <div class="container-fluid">
            <div class="row ODpanelBackgorundDashboardThree" >
                <div class="col-xs-12 col-sm-6 col-md-6 ">
                    <div class="panel panel-default ">
                        <div class="panel-body">
                            <div class="row animated zoomIn">
                                <div class="col-sm-6">
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead >
                                        <tr>
                                            <th class="text-center tableHead">DC MEASURE</th>
                                            <th class="text-center tableHead">COUNT</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in DcDbL3Measure" ng-if="$index <=3">
                                            <td>{{item["dc_db_l3_measure.dc_measure"]}}</td>
                                            <td>{{item["dc_db_l3_measure.count_lines"]}}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead >
                                        <tr style="background:red;">
                                            <th class="text-center tableHead">YTD</th>
                                            <th class="text-center tableHead">PREV YTD</th>
                                            <th class="text-center tableHead">VARIANCE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in DcDbL3Measure"  ng-if="$index <=3">
                                            <td>{{item["dc_db_l3_measure.ytd"]}}</td>
                                            <td>{{item["dc_db_l3_measure.prev_ytd"]}}</td>
                                            <td>{{item["dc_db_l3_measure.variance"]}}%</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row animated zoomIn">
                                <div class="col-sm-6">
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead >
                                        <tr>
                                            <th class="text-center tableHead">DC LINE SUMMARY</th>
                                            <th class="text-center tableHead">LINES</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in DcDbL3Measure"  ng-if="$index>=4">
                                            <td>{{item["dc_db_l3_measure.dc_line_summary"]}}</td>
                                            <td>{{item["dc_db_l3_measure.count_lines"]}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead >
                                        <tr style="background:red;">
                                            <th class="text-center tableHead">YTD</th>
                                            <th class="text-center tableHead">PREV YTD</th>
                                            <th class="text-center tableHead">VARIANCE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in DcDbL3Measure" ng-if="$index>=4">
                                            <td>{{item["dc_db_l3_measure.ytd"]}}</td>
                                            <td>{{item["dc_db_l3_measure.prev_ytd"]}}</td>
                                            <td>{{item["dc_db_l3_measure.variance"]}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 ">
                    <div class="row ">
                        <div class="col-sm-12  ">
                            <div class="panel panel-default ">
                                <div class="panel-body">
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead >
                                        <tr>
                                            <th class="text-center tableHead">SITE PRODUCTIVITY</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>38LPMH</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="chartAreaLine" class="animated rubberBand" style="height: 180px;"></div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 " >
                    <div class="row">
                        <div class="col-sm-12 ODpanelBackgorundDashboardThree animated zoomIn">
                            <div class="panel panel-default ">
                                <div class="panel-body">
                                    <table class="table table-bordered text-center table-hover ODPointer" >
                                        <thead >
                                        <tr>
                                            <th class="text-center tableHead">DC FINANCIAL</th>
                                            <th class="text-center ">
                                                <md-input-container style="color:#fff;">

                                                    <md-select ng-model="currency" placeholder="£ GBP">

                                                        <md-option ng-repeat="currency in currencies">{{currency}}

                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>

                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in DcDbL3FinTableResponse">
                                            <td>{{item["dc_db_l3_fin.dc_financial"]}}</td>
                                            <td ng-if="$index<=2">£{{item["dc_db_l3_fin.value"]}}</td>
                                            <td ng-if="$index>2 && $index<=4">{{item["dc_db_l3_fin.value"]}}%</td>
                                            <td ng-if="$index>4">£{{item["dc_db_l3_fin.value"]}}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!--  End of row -->

            <div class="row mt10">
                <div class="col-sm-5 ODpanelBackgorundDashboardThree wow zoomIn" >
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            DC DEPARTMENTAL HOURS
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-6 ">
                                <table class="table table-bordered text-center table-hover ODPointer" >
                                    <thead >
                                    <tr style="background:red;">
                                        <th class="text-center tableHead">DEPT</th>
                                        <th class="text-center tableHead" >FTE</th>
                                        <th class="text-center tableHead">TEMPS</th>
                                        <th class="text-center tableHead">OVERTIME </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in DcDbl3DeptResponse">
                                        <td style="min-width:150px">{{item["dc_db_l3_dept_dtl.dept"]}}</td>
                                        <td>{{item["dc_db_l3_dept_dtl.fte"]}}</td>
                                        <td>{{item["dc_db_l3_dept_dtl.temps"]}}</td>
                                        <td>{{item["dc_db_l3_dept_dtl.overtime"]}}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-3">
                                <table class="table table-bordered text-center table-hover ODPointer" >
                                    <thead >
                                    <tr style="background:red;">
                                        <th class="text-center tableHead">HOLS</th>
                                        <th class="text-center tableHead">S&A</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in DcDbl3DeptResponse" ng-if="$index<=11">
                                        <td>{{item["dc_db_l3_dept_dtl.hols"]}}</td>
                                        <td>{{item["dc_db_l3_dept_dtl.s_a"]}}</td>
                                    </tr>
                                    <tr>
                                        <td style="color:#fff">1</td>
                                        <td style="color:#fff">1</td>
                                    </tr>
                                    <tr>
                                        <td style="color:#fff">1</td>
                                        <td style="color:#fff">1</td>
                                    </tr>
                                    <tr>
                                        <td style="color:#fff">1</td>
                                        <td style="color:#fff">1</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-3">
                                <table class="table table-bordered text-center table-hover ODPointer" >
                                    <thead >
                                    <tr style="background:red;">
                                        <th class="text-center tableHead">T HRS</th>
                                        <th class="text-center tableHead">HRS %</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in DcDbl3DeptResponse">
                                        <td>{{item["dc_db_l3_dept_dtl.ttl_hrs"]}}</td>
                                        <td>{{item["dc_db_l3_dept_dtl.hrs_as_per"]}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ODpanelBackgorundDashboardThree  wow zoomIn" >
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            DC DEPT PROD
                        </div>
                        <div class="panel-body">
                            <table style="min-height:240px" class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr style="background:red;">
                                    <th class="text-center tableHead">DEPT MEASURE</th>
                                    <th class="text-center tableHead" >LPMH</th>
                                    <th class="text-center tableHead">6 MNTH AVE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in DcDbl3DeptResponse"  ng-if="$index<=11">
                                    <td>{{item["dc_db_l3_dept_dtl.dept_measure"]}}</td>
                                    <td style="background:#DBEEF3">{{item["dc_db_l3_dept_dtl.lpmh"]}}</td>
                                    <td>{{item["dc_db_l3_dept_dtl.six_mnth_ave"]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ODpanelBackgorundDashboardThree">
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            DC OTAC
                        </div>
                        <div class="panel-body" >
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr>
                                    <th class="text-center tableHead">DC SHIPPED</th>
                                    <th class="text-center tableHead">OTAC %</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Failed Orders</td>
                                    <td>98</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr>
                                    <th class="text-center tableHead">DC QUALITY</th>
                                    <th class="text-center tableHead">OTAC %</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Failed Orders</td>
                                    <td>98</td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="row mt4">
                                <div class="col-sm-12">
                                    <div id="dcOtac" class="animated wobble" style="height:155px;"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div> <!-- /.container-fluid -->
    </div><!-- /.page-content -->

</div> <!-- /.ngCloak-->
