
<div ng-cloak >

        <!--<div class="breadcrumbs" id="breadcrumbs">-->
            <!--<script type="text/javascript">-->
                <!--try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}-->
            <!--</script>-->

            <!--<ul class="breadcrumb">-->
                <!--<li>-->
                    <!--<i class="ace-icon fa fa-home home-icon"></i>-->
                    <!--<a href="#">Home</a>-->
                <!--</li>-->
                <!--<li class="active">Dashboard</li>-->
            <!--</ul>&lt;!&ndash; /.breadcrumb &ndash;&gt;-->

           <!--&lt;!&ndash; <div class="nav-search" id="nav-search">-->
                <!--<form class="form-search">-->
								<!--<span class="input-icon">-->
									<!--<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />-->
									<!--<i class="ace-icon fa fa-search nav-search-icon"></i>-->
								<!--</span>-->
                <!--</form>-->
            <!--</div>&ndash;&gt;&lt;!&ndash; /.nav-search &ndash;&gt;-->
        <!--</div>-->

        <div class="page-content">


            <div class="page-header">
                <h1>
                    Dashboard
                   <!-- <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        overview &amp; stats
                    </small>-->
                </h1>
            </div><!-- /.page-header -->




            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">26</div>
                                        <div>New Comments!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">12</div>
                                        <div>New Tasks!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">124</div>
                                        <div>New Orders!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">13</div>
                                        <div>Support Tickets!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

			<div class="row">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-green">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                            <div class="stats-title">TODAY'S VISITS</div>
                            <div class="stats-number">7,842,900</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 70.1%;"></div>
                            </div>
                            <div class="stats-desc">Better than last week (70.1%)</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-blue">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                            <div class="stats-title">TODAY'S PROFIT</div>
                            <div class="stats-number">180,200</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 40.5%;"></div>
                            </div>
                            <div class="stats-desc">Better than last week (40.5%)</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-purple">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
                            <div class="stats-title">NEW ORDERS</div>
                            <div class="stats-number">38,900</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 76.3%;"></div>
                            </div>
                            <div class="stats-desc">Better than last week (76.3%)</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-black">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                            <div class="stats-title">NEW COMMENTS</div>
                            <div class="stats-number">3,988</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 54.9%;"></div>
                            </div>
                            <div class="stats-desc">Better than last week (54.9%)</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>

               

                <div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-12">
                    		<table class="table table-bordered text-center" >
							    <thead>
							      <tr>
							        <th class="text-center">Sample Col 1</th>
							        <th class="text-center">Sample Col 2</th>
							        <th class="text-center">Sample Col 3</th>
							        <th class="text-center">Sample Col 4</th>
							        <th class="text-center">Sample Col 5</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr>
							        <td>Data 1</td>
							        <td>Data 2</td>
							        <td>Data 3</td>
							        <td>Data 4</td>
							        <td>Data 5</td>
							      </tr>
							      <tr>
							        <td>Data 1</td>
							        <td>Data 2</td>
							        <td>Data 3</td>
							        <td>Data 4</td>
							        <td>Data 5</td>
							      </tr>
							      <tr>
							        <td>Data 1</td>
							        <td>Data 2</td>
							        <td>Data 3</td>
							        <td>Data 4</td>
							        <td>Data 5</td>
							      </tr>
							    </tbody>
							  </table>
                    		
                    </div>
                </div>
                
                <div class="row">
                	<div class="panel panel-primary">
                		<div class="panel-body text-center">
                				                	<!-- Standard button -->
						<button type="button" class="btn btn-default">Default</button>
						
						<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
						<button type="button" class="btn btn-primary">Primary</button>
						
						<!-- Indicates a successful or positive action -->
						<button type="button" class="btn btn-success">Success</button>
						
						<!-- Contextual button for informational alert messages -->
						<button type="button" class="btn btn-info">Info</button>
						
						<!-- Indicates caution should be taken with this action -->
						<button type="button" class="btn btn-warning">Warning</button>
						
						<!-- Indicates a dangerous or potentially negative action -->
						<button type="button" class="btn btn-danger">Danger</button>
						
						<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
						<button type="button" class="btn btn-link">Link</button>
                		</div>
                	</div>
						
                </div>
                
                     <div class="row">
                	<div class="col-xs-12 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i>  Bar Chart - c3
                                <div class="widget-icons pull-right">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(c3BarChartData,'c3Bar Chart')" ng-model="c3BarChartData"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#c3BarChart',' Bar Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>

                            </div>
                            <div class="panel-body">


                                <div id="c3BarChart"></div>


                            </div>
                        </div>

                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-12 col-sm-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Pie Chart - c3
                                <div class="widget-icons pull-right">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(c3BarChart,'Pie Chart')" ng-model="c3BarChart"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#c3pieChart','Pie Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>
                            </div>
                            <div class="panel-body">

                                <div id="c3pieChart"  ></div>


                            </div>
                        </div>

                    </div>

					<div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-12 col-sm-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> DonutChart - c3
                                <div class="widget-icons pull-right">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(c3DonutChartData,'Donut Chart')" ng-model="c3DonutChartData"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#c3DonutChart','Donut Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>
                            </div>
                            <div class="panel-body">

                                <div id="c3DonutChart"  ></div>


                            </div>
                        </div>

                    </div>
					
                </div>
                
                <div class="row">
                	<div class="col-xs-12 col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart - d3
                                <div class="widget-icons pull-right">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(d3BarChartData,'Bar Chart')" ng-model="d3BarChartData"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#d3BarChart','Bar Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>

                            </div>
                            <div class="panel-body">

                                <div id="d3BarChart"></div>


                                <script>

                                </script>

                            </div>
                        </div>

                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Gauge Chart - c3
                                <div class="widget-icons pull-right">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(c3GaugeChartData,'Gauge Chart')" ng-model="c3GaugeChartData"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#c3GaugeChart','Gauge Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>

                            </div>
                            <div class="panel-body">


                                <div id="c3GaugeChart"></div>


                            </div>
                        </div>

                    </div>
                    <div class="clearfix visible-xs-block"></div>                                 	
                </div>
                
                
                
                <div class="row">
                	<div class="col-xs-12 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i>Radial Progress Chart - d3
                                <div class="widget-icons pull-right">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#d3RadialProgress','Radial progress Chart')"><span class="glyphicon glyphicon-file"></span></a>

                                </div>

                            </div>
                            <div class="panel-body">
									
                                <div  id="d3RadialProgress"></div>
                                

                                <script>

                                </script>

                            </div>
                        </div>

                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i>Radial Progress Chart - d3
                                <div class="widget-icons pull-right">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#d3RadialProgress2','Radial Progress Chart')"><span class="glyphicon glyphicon-file"></span></a>

                                </div>

                            </div>
                            <div class="panel-body">
									
                               <div  id="d3RadialProgress2"></div>


                                <script>

                                </script>

                            </div>
                        </div>

                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Liquid Filled Gauge Chart - d3
                                <div class="widget-icons pull-right">
                                    <a href="#" ng-click="pdfRender('#d3LiquidFillGauge','Liquid Filled Gauge')" class="btnBackGround "><span class="glyphicon glyphicon-file"></span></a>

                                </div>

                            </div>
                            <div class="panel-body">


                                <div class="text-center" id="d3LiquidFillGauge"></div>
								
								
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                </div> <!-- end of row -->
				
				
			 <div class="row">               
                    <div class="col-xs-12 col-sm-12 col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Stacked Bar - c3
                                 <div class="widget-icons pull-right">
                                    <a href="#" class="btnBackGround " id="save" ng-click="exportData(stackedDataBar,'Stacked Bar Chart')" ng-model="stackedDataBar"><span class="glyphicon glyphicon-export"></span></a>

                                </div>
                                <div class="widget-icons pull-right margin-right-5">
                                    <a href="#" class="btnBackGround " id="save" ng-click="pdfRender('#c3BarChart','Bar Chart')"><span class="glyphicon glyphicon-file"></span></a>
                                </div>

                            </div>
                            <div class="panel-body">

                                <div id="c3stackedbar"></div>

                                <style>
                                    .axis path,
                                    .axis line {
                                        fill: none;
                                        stroke: black;
                                        shape-rendering: crispEdges;
                                    }
                                    .axis text {
                                        font-family: sans-serif;
                                        font-size: 11px;
                                    }

                                    rect {
                                        -moz-transition: all 0.3s;
                                        -webkit-transition: all 0.3s;
                                        -o-transition: all 0.3s;
                                        transition: all 0.3s;
                                    }
                                    rect:hover{
                                        fill: red;
                                    }
                                </style>

                            </div>
                        </div>
                    </div>

                </div> <!--  End of row -->
                
            </div>
            <!-- /.row -->
        </div><!-- /.page-content -->

</div>
