<div ng-cloak >
    <!--<div class="breadcrumbs" id="breadcrumbs">-->
    <!--<ul class="breadcrumb">-->
    <!--<li class="active ODbold">-->
    <!--<i class="ace-icon fa fa-home home-icon"></i>-->
    <!--<a href="#/dashboard">Executive Dashboard</a>-->
    <!--</li>-->
    <!--</ul>&lt;!&ndash; /.breadcrumb &ndash;&gt;-->
    <!--</div>-->
    <div class="page-content"  >
        <div class="page-header ODHeader" style="min-height:71px;">
            <div class="row" >
                <div class="col-sm-2 ">
                    <md-content class="ODHeaderDate" style="width:190px;padding:0px"margin-top:6px; >
                        <md-datepicker ng-model="myDate" md-placeholder="Choose date"></md-datepicker>
                    </md-content>
                </div>
                <div class="col-sm-2">
                    <!--<select style="border-radius:3px; margin-top:15px; border-color:#fff;"-->
                    <!--ng-init="item = currencies[0]"-->
                    <!--ng-options="currency as currency.name for currency in currencies"-->
                    <!--ng-model="item" ng-change="update()">-->
                    <!--</select>-->
                    <md-select class="ODHeaderDropdown" style="padding:0px;text-align:center;height:37px;margin-top:5px;" ng-init="item = currencies[0]"
                               ng-model="item" ng-change="update()">
                        <md-option  ng-repeat="currency in currencies" ng-value="currency">{{currency.name}}
                        </md-option>
                    </md-select>
                </div>
                <div class="col-sm-5">
                    <h4 class="ODscreenHeadingText animated bounce" style="margin-top:10px;margin-left:0px;">EU SUPPLY CHAIN<br/>
                        OTAC & PERFORMANCE SUMMARY
                    </h4>
                </div>
                <div class="col-sm-3">
                    <img class="OdRefreshBtn" src="assets/images/refreshBtn.png" onclick="location.reload()">
                </div>
            </div>
        </div>
        <!-- /.page-header -->
        <div class="container-fluid" >
            <div class="row ODrow ">
                <div class="col-xs-12 col-sm-4 col-md-4 wow slideInLeft">
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading ">
                            DC PRODUCTION
                        </div>
                        <div class="panel-body" style="font-size:11px">
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead>
                                <tr>
                                    <th class="text-center tableHead">REGION</th>
                                    <th class="text-center tableHead">ORDERS</th>
                                    <th class="text-center tableHead">ORD LNS </th>
                                    <th class="text-center tableHead">PCK LNS</th>
                                    <th class="text-center tableHead">LPMH</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--{{ExecDashData}}-->
                                <tr ng-repeat="data in ExecDashData" >
                                    <td onclick="window.location.href='#/dcDashboardOne'">{{data["executive.dc_prod_region"]}}</td>
                                    <td class="{{data.dc_prod_ordersFormat}}">{{data.dc_prod_ordersFormat}}</td>
                                    <td class="{{data.dc_prod_ord_lnsFormat}}">{{data.dc_prod_ordersFormat}}</td>
                                    <td class="{{data.dc_prod_pck_lnsFormat}}">{{data.dc_prod_ordersFormat}}</td>
                                    <td class="{{data.dc_prod_lpmhColor}}">
                                        {{data["executive.dc_prod_lpmh"]}}.00
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center tableHead">REGION</th>
                                    <th class="text-center tableHead">ORDERS</th>
                                    <th class="text-center tableHead">ORD LNS </th>
                                    <th class="text-center tableHead">PCK LNS</th>
                                    <th class="text-center tableHead">LPMH</th>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">EU TOTAL</td>
                                    <td>83,000</td>
                                    <td>36,4000</td>
                                    <td>36,2000</td>
                                    <td style="background-color:#99BB66">99.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            DC FINANCE
                        </div>
                        <div class="panel-body" style="font-size:11px">
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ COST </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ COST </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ COST </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£  SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$  SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ % SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ % SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ % SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / ORDER </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / ORDER </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / ORDER </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / LINE </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / LINE </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / LINE </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in ExecDashData"  ng-init="initDataFormat()"
                                    style="word-wrap: break-word;">
                                    <td class="{{item.dc_fin_salesFormat}}">{{data.dc_fin_salesFormat}}</td>
                                    <td class="{{item.dc_fin_costFormat}}">{{data.dc_fin_costFormat}}</td>
                                    <td>{{data["executive.dc_fin_percent_sales"]}}.00%</td>
                                    <td>{{data["executive.dc_fin_order"]}}.00</td>
                                    <td>{{data["executive.dc_fin_line"]}}.00</td>
                                </tr>
                                <tr>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ COST </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ COST </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ COST </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£  SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$  SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ % SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ % SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ % SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / ORDER </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / ORDER </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / ORDER </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / LINE </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / LINE </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / LINE </th>
                                </tr>
                                <tr>
                                    <td>288,000</td>
                                    <td>198,000</td>
                                    <td>95.00%</td>
                                    <td>7.56</td>
                                    <td>7.56</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 wow slideInRight">
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            TRANSPORT FINANCE
                        </div>
                        <div class="panel-body" style="font-size:11px">
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead>
                                <tr>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ COST </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ COST </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ COST </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ % SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ % SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ % SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / ORDER </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / ORDER </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / ORDER </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / CRTN </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / CRTN </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / CRTN </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in ExecDashData"  ng-init="initDataFormat()">
                                    <td class="{{item.trans_fin_costFormat}}">{{data.trans_fin_costFormat}}</td>
                                    <td>{{data["executive.trans_fin_sales"]}}.00%</td>
                                    <td>{{data["executive.trans_fin_order"]}}.00</td>
                                    <td>{{data["executive.trans_fin_crtn"]}}.00</td>
                                </tr>
                                <tr>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ COST </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ COST </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ COST </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ % SALES </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ % SALES </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ % SALES </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / ORDER </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / ORDER </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / ORDER </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ / CRTN </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ / CRTN </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ / CRTN </th>
                                </tr>
                                <tr>
                                    <td>234,000</td>
                                    <td>95.00%</td>
                                    <td>7.56</td>
                                    <td>7.46</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End of row -->
            <div class="row " style="margin-top:2px;">
                <div class="col-xs-12 col-sm-4 col-md-4 ODrow " style="min-height:400px;" >
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            VOLUME SUMMARY
                        </div>
                        <div class="panel-body"style="font-size:11px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table text-center  ODPointer" >
                                        <thead>
                                        <tr>
                                            <th class="text-center ODdropdownRowHead" style="margin:3px;">VOLUME TYPE</th>
                                            <th class="text-center ODdropdownRowHead">VOLUME VIEW</th>
                                            <th class="text-center ODdropdownRowHead">VIEW AS</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <md-input-container>
                                                    </select>
                                                    <md-select ng-model="volumeType" placeholder="Carrier Type">
                                                        <md-option ng-repeat="type in volumeType">{{type}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </td>
                                            <td>
                                                <md-input-container>
                                                    </select>
                                                    <md-select ng-model="volumeView" placeholder="Cartons ">
                                                        <md-option ng-repeat="viewtype in volumeView">{{viewtype}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </td>
                                            <td>
                                                <md-input-container>
                                                    </select>
                                                    <md-select ng-model="viewAs" placeholder="Percentage ">
                                                        <md-option ng-repeat="viewer in viewAs">{{viewer}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="graphContainer"style="height:225px;overflow-y:scroll;">
                                <div id="transportVolumeSummary" class="animated wobble" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 ODrow " style="min-height:400px" >
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading" >
                            <span style="margin-left:110px;">OTAC</span>
                     <span class="pull-right" style="
                        margin-right: 13px;
                        ">
                        <table class=" table table-bordered text-center table-hover ODPointer" style="
                           padding: 0px;
                           margin: 0px;
                           margin-top: -6px;
                           height: 20px;
                           margin-right: 0px;
                           width:117px;
                           ">
                            <thead style="
                              /* height: 10px; */
                              font-size: 12px;
                              ">
                            <tr>
                                <th class="text-center tableHead">OVERALL</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="
                                 font-size: 12px;
                                 ">
                                <td style="background-color:#99BB66">96.00%
                                </td>
                            </tr>
                            </tbody>
                        </table>
                     </span>
                        </div>
                        <div class="panel-body"style="font-size:11px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="wow zoomIn table table-bordered text-center table-hover ODPointer" >
                                        <thead>
                                        <tr>
                                            <!--<th class="text-center tableHead">OTAC</th>-->
                                            <th class="text-center tableHead">INVENTORY</th>
                                            <th class="text-center tableHead">DC SHIPPED</th>
                                            <th class="text-center tableHead">DC QUALITY</th>
                                            <th class="text-center tableHead">TRANSPORT</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in OtacInventoryTableAggregateResponse" ng-init="dataToRender2()">
                                            <!--<td class="{{item.otacColor}}">-->
                                            <!--{{item["executive_otac_inventory_perc.otac"]}}</td>-->
                                            <td class="{{item.inventoryColor}}">
                                                {{item["executive_otac_inventory_perc.inventory"]}}.00%
                                            </td>
                                            <td class="{{item.dc_shipmentColor}}">
                                                {{item["executive_otac_inventory_perc.dc_shipment"]}}.00%
                                            </td>
                                            <td class="{{item.dc_qualityColor}}">
                                                {{item["executive_otac_inventory_perc.dc_quality"]}}.00%
                                            </td>
                                            <td class="{{item.transportColor}}">
                                                {{item["executive_otac_inventory_perc.transport"]}}.00%
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="wow zoomIn table text-center ODPointer" >
                                        <thead>
                                        <tr>
                                            <th class="text-center ODdropdownRowHead" style="margin:3px;"> METRIC TO VIEW</th>
                                            <th class="text-center ODdropdownRowHead"> CHANNEL </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <md-input-container>
                                                    </select>
                                                    <md-select ng-model="metric" placeholder="OVERALL">
                                                        <md-option ng-repeat="metric in metrics">{{metric}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </td>
                                            <td>
                                                <md-input-container>
                                                    </select>
                                                    <md-select ng-model="channel" placeholder="All" >
                                                        <md-option ng-repeat="channel in channels">{{channel}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <table class=" wow zoomIn table table-bordered text-center table-hover ODPointer" >
                                <thead>
                                <tr>
                                    <th class="text-center tableHead">Region</th>
                                    <th class="text-center tableHead">Orders</th>
                                    <th class="text-center tableHead">OTAC % </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in OtacInventoryTableResponse" ng-init="initDataFormat2()">
                                    <td>{{item["executive_otac_inventory.region"]}}</td>
                                    <td class="{{item.ordersFormat}}">{{item.ordersFormat}}</td>
                                    <td class="{{item.otac_perColor}}">{{item["executive_otac_inventory.otac_per"]}}.00%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 ODrow"  style="min-height:400px">
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            INVENTORY
                        </div>
                        <div class="panel-body"style="font-size:11px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="wow zoomIn table table-bordered text-center table-hover ODPointer" >
                                        <thead>
                                        <tr>
                                            <th class="text-center tableHead">LFR %</th>
                                            <th class="text-center tableHead">Turns</th>
                                            <th ng-if="item.code==1" class="text-center tableHead">€ STK VAL</th>
                                            <th ng-if="item.code==2" class="text-center tableHead">£ STK VAL</th>
                                            <th ng-if="item.code==3" class="text-center tableHead">$ STK VAL </th>
                                            <th ng-if="item.code==1" class="text-center tableHead">€ B/O VAL </th>
                                            <th ng-if="item.code==2" class="text-center tableHead">£ B/O VAL </th>
                                            <th ng-if="item.code==3" class="text-center tableHead">$ B/O VAL </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in OtacInventoryTableAggregateResponse" ng-init="initDataFormat1()">
                                            <td style="background-color:#99BB66">{{item["executive_otac_inventory_perc.lfr_perc"]}}.00%</td>
                                            <td>{{item["executive_otac_inventory_perc.stock_turns"]}}.00</td>
                                            <td class="{{item.stock_valueFormat}}">{{item.stock_valueFormat}}</td>
                                            <td>1,240</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table text-center  ODPointer" >
                                        <thead>
                                        <tr>
                                            <th class="text-center ODdropdownRowHead" style="margin:3px;"> CHANNEL</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <md-input-container>
                                                    </select>
                                                    <md-select ng-model="channel1" placeholder="All">
                                                        <md-option ng-repeat="channel in channels">{{channel}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <table class="wow zoomIn table table-bordered text-center table-hover ODPointer" >
                                <thead>
                                <tr>
                                    <th class="text-center tableHead">LFR %</th>
                                    <th class="text-center tableHead">TURNS</th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ STK VAL</th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ STK VAL</th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ STK VAL </th>
                                    <th ng-if="item.code==1" class="text-center tableHead">€ B/O VAL </th>
                                    <th ng-if="item.code==2" class="text-center tableHead">£ B/O VAL </th>
                                    <th ng-if="item.code==3" class="text-center tableHead">$ B/O VAL </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in OtacInventoryTableResponse" ng-init="initDataFormat2()">
                                    <td class="{{item.invt_lfr_perColor}}">{{item["executive_otac_inventory.invt_lfr_per"]}}.00%</td>
                                    <td>{{item["executive_otac_inventory.invt_turns"]}}.00</td>
                                    <td class="{{item.invt_st_valFormat}}">{{item.invt_st_valFormat}}</td>
                                    <td>{{item["executive_otac_inventory.invt_bo_val"]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Endf of row -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<!--<script>-->
<!--$(document).ready(function(){-->
<!--var mc = {-->
<!--'0-95'     : 'red',-->
<!--'96-97'    : 'orange',-->
<!--'98-100'   : 'green'-->
<!--};-->
<!--function between(x, min, max) {-->
<!--return x >= min && x <= max;-->
<!--}-->
<!--var dc;-->
<!--var first;-->
<!--var second;-->
<!--var th;-->
<!--$('td').each(function(index){-->
<!--th = $(this);-->
<!--dc = parseInt($(this).attr('data-color'),10);-->
<!--$.each(mc, function(name, value){-->
<!--first = parseInt(name.split('-')[0],10);-->
<!--second = parseInt(name.split('-')[1],10);-->
<!--console.log(between(dc, first, second));-->
<!--if( between(dc, first, second) ){-->
<!--th.addClass(value);-->
<!--}-->
<!--});-->
<!--});-->
<!--});-->
<!--</script>-->