<div ng-cloak >

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ul>
    </div>

    <div class="page-content">
        <div class="page-header">
                <h1> Role Based Access Control</h1>


        </div>

        <div class="row">
            <div class="col-xs-12">

          <!--      <ul class="nav nav-tabs responsive" >
                    <li ng-repeat="tabs in roleBasedTabs" class="{{tabs.isActive}}" >
                        <a data-toggle="tab" ng-click="onClickTab($index)">{{tabs.title;}}</a></li>

                </ul>

                <div class="col-xs-12 tab-content responsive">
                    <span ng-repeat="tabs in roleBasedTabs" class="tab-pane fade in {{tabs.isActive}}"  >
                        <span ng-include="tabs.url"></span>
                    </span>


                </div>-->


                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom >
                            <md-tab label="Permissions Management">
                                <md-content class="md-padding">
                                    <div ng-include="'scripts/app/main/roleBasedAccessTabs/PermissionsMgmt.html'"></div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Role Management">
                                <md-content class="md-padding">
                                    <div ng-include="'scripts/app/main/roleBasedAccessTabs/roleMgmt.html'"></div>
                                </md-content>
                            </md-tab>
                            <md-tab label="User Management">
                                <md-content class="md-padding">
                                    <div ng-include="'scripts/app/main/roleBasedAccessTabs/userMgmt.html'"></div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>

                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->

        </div><!-- /.row -->




    </div>

</div>
