<div ng-cloak >

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ul>
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                Change Profile Theme{{class}}
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 ">

                <ul class="list-group">
                    <li class="list-group-item">
                        <button type="button" ng-click="changeTheme('greyTheme')" class=" btn btn-default" ng-class="{active : userThemeColor == 'greyTheme'}">Grey</button>
                        <button type="button" ng-click="changeTheme('blueTheme')" class=" btn btn-primary" ng-class="{active : userThemeColor == 'blueTheme'}">Blue</button>

                        <button type="button" ng-click="changeTheme('redTheme')" class="btn btn-danger" ng-class="{active : userThemeColor == 'redTheme'}">Red</button>
                    </li>

                </ul>

            </div>


            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

</div>
