<div ng-cloak >

    <div class="breadcrumbs" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#/dashboard">Executive Dashboard</a>
            </li>
            <li class="active">Europeon Transport Reporting</li>
        </ul><!-- /.breadcrumb -->

    </div>

    <div class="page-content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-4">
                    <md-content>
                        <span class="margin-left:20px;">Choose a date</span>
                        <md-datepicker ng-model="myDate" md-placeholder="Choose date"></md-datepicker>
                    </md-content>


                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div><!-- /.page-header -->

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading ">
                            DELIVERY VOLUME
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="bgAqua">Volume Type</span>
                                    <md-input-container>
                                        </select>
                                        <md-select ng-model="volumeType" placeholder="Select"">
                                        <md-option ng-repeat="type in volumeType">{{type}}
                                        </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <span class="bgAqua">Volume View</span>
                                    <md-input-container>
                                        </select>
                                        <md-select ng-model="volumeView" placeholder="Select" ">
                                        <md-option ng-repeat="viewtype in volumeView">{{viewtype}}
                                        </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <span class="bgAqua"> View As</span>
                                    <md-input-container>
                                        </select>
                                        <md-select ng-model="viewAs" placeholder="Select" ">
                                        <md-option ng-repeat="viewer in viewAs">{{viewer}}
                                        </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div id="deliveryVolume" style="height: 570px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            EU TRANSPORT DELIVERY DETAIL
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr style="background:red;">
                                    <th class="text-center tableHead">Regions</th>
                                    <th class="text-center tableHead">Orders</th>
                                    <th class="text-center tableHead">Cartons </th>
                                    <th class="text-center tableHead">Failed</th>
                                    <th class="text-center tableHead">OTAC</th>
                                    <th class="text-center tableHead">COLLCTNS</th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <TD>data 6</TD>
                                </tr>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <TD>data 6</TD>
                                </tr>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <TD>data 6</TD>
                                </tr>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <TD>data 6</TD>

                                </tr>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <TD>data 6</TD>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading ODheading">
                            EU TRANSPORT FINANCIAL
                        </div>
                        <div class="panel-body">
                            <md-input-container>
                                <span >Currency</span>

                                <md-select ng-model="currency" placeholder="Select Currency" style="width:200px;">

                                    <md-option ng-repeat="currency in currencies">{{currency}}

                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <table class="table table-bordered text-center table-hover ODPointer" >
                                <thead >
                                <tr style="background:red;">
                                    <th class="text-center tableHead">Region</th>
                                    <th class="text-center tableHead">Sales</th>
                                    <th class="text-center tableHead">Cost </th>
                                    <th class="text-center tableHead">% Sales</th>
                                    <th class="text-center tableHead"> Order</th>
                                    <th class="text-center tableHead">Carton</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <td>Data 6></td>
                                </tr>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <td>Data 6></td>
                                </tr>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <td>Data 6></td>
                                </tr>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <td>Data 6></td>
                                </tr>
                                <tr>
                                    <td>Data 1</td>
                                    <td>Data 2</td>
                                    <td>Data 3</td>
                                    <td>Data 4</td>
                                    <td>Data 5</td>
                                    <td>Data 6></td>
                                </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>

            </div> <!--  End of row -->

        </div>
        <!-- /.container-fluid -->
    </div><!-- /.page-content -->

</div>
