
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container" style="margin-top: 10%;">

            <div class="position-relative" >
                <div id="login-box" class="login-box visible widget-box">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="center" >

                                <img class="nav-user-photo" src="../../../assets/images/oficeDepo_Logo.jpg" alt="Datametica" style="width: 70%" />
                            </div>
                            <div class="space-5"></div>
                            <h4 class="header blue lighter bigger">
                                Login
                            </h4>

                            <div class="space-5"></div>


                            <form class="form" role="form" ng-submit="login($event)">
                                <div class="form-group">
                                    <label for="username">Login</label>
                                    <input type="text" class="form-control" id="username" placeholder="Your username" ng-model="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Your password"
                                           ng-model="password">
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                            <p></p>
   

                        </div><!-- /.widget-main -->

                        <div class="loginP clearfix" ng-show="authenticationError">

                                <div class="alert alert-danger" >
                                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                                </div>


                        </div>
                    </div><!-- /.widget-body -->
                </div><!-- /.login-box -->




            </div><!-- /.position-relative -->


    </div><!-- /.col -->
</div>
