﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 26pt;
 font-weight: bold;
 color: #0070c0;
 text-decoration: underline;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts15
{
 font-size: 11pt;
 font-family: 'Consolas';
}
span.rvts16
{
 font-size: 16pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts17
{
}
span.rvts18
{
 font-size: 14pt;
 font-family: 'Comic Sans MS', cursive;
}
span.rvts19
{
 font-size: 12pt;
}
span.rvts20
{
 font-size: 24pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts21
{
 font-size: 14pt;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Consolas';
}
span.rvts23
{
 font-family: 'Consolas';
 color: #008080;
}
span.rvts24
{
 font-family: 'Consolas';
 color: #3f7f7f;
 background-color: #d4d4d4;
}
span.rvts25
{
 font-family: 'Consolas';
}
span.rvts26
{
 font-family: 'Consolas';
 color: #7f007f;
 text-decoration: underline;
}
span.rvts27
{
 font-family: 'Consolas';
 color: #000000;
}
span.rvts28
{
 font-family: 'Consolas';
 color: #008080;
 text-decoration: underline;
}
span.rvts29
{
 font-family: 'Consolas';
 color: #3f7f7f;
}
span.rvts30
{
 font-family: 'Consolas';
 color: #7f007f;
}
span.rvts31
{
 font-family: 'Consolas';
 font-style: italic;
 color: #2a00ff;
}
span.rvts32
{
 font-family: 'Consolas';
 font-style: italic;
 color: #2a00ff;
 text-decoration: underline;
}
span.rvts33
{
 font-family: 'Consolas';
 color: #000000;
 text-decoration: underline;
}
span.rvts34
{
 font-family: 'Consolas';
 color: #3f5fbf;
}
span.rvts35
{
 font-family: 'Consolas';
 color: #3f5fbf;
 text-decoration: underline;
}
a.rvts36, span.rvts36
{
 font-family: 'Consolas';
 color: #3f5fbf;
 text-decoration: underline;
}
span.rvts37
{
 text-decoration: underline;
}
a.rvts38, span.rvts38
{
 font-family: 'Consolas';
 color: #3f5fbf;
 text-decoration: none;
}
a.rvts39, span.rvts39
{
 font-family: 'Consolas';
 color: ;
 text-decoration: none;
}
a.rvts40, span.rvts40
{
 font-family: 'Consolas';
 font-weight: bold;
 color: ;
 text-decoration: none;
}
span.rvts41
{
 font-size: 12pt;
 font-family: 'Consolas';
 font-weight: bold;
}
span.rvts42
{
 font-weight: bold;
}
span.rvts43
{
 font-family: 'Consolas';
 color: #008080;
}
a.rvts44, span.rvts44
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts45
{
 font-family: 'Consolas';
 font-style: italic;
 color: #2a00ff;
 background-color: #ffff80;
}
span.rvts46
{
 font-family: 'Consolas';
}
span.rvts47
{
 font-size: 16pt;
 font-family: 'Consolas';
 font-weight: bold;
 text-decoration: underline;
}
span.rvts48
{
 font-family: 'Consolas';
 font-weight: bold;
}
span.rvts49
{
 font-family: 'Consolas';
 color: #2a00ff;
}
span.rvts50
{
 font-family: 'Consolas';
 font-weight: bold;
 color: #7f0055;
}
span.rvts51
{
 font-size: 8pt;
 font-family: 'Consolas';
}
span.rvts52
{
 font-family: 'Consolas';
 color: #0000ff;
}
span.rvts53
{
 font-family: 'Consolas';
 color: #008080;
 background-color: #e8f2fe;
}
span.rvts54
{
 font-family: 'Consolas';
 color: #3f7f7f;
 background-color: #d4d4d4;
}
span.rvts55
{
 font-family: 'Consolas';
 background-color: #e8f2fe;
}
span.rvts56
{
 font-family: 'Consolas';
 color: #7f007f;
 background-color: #e8f2fe;
}
span.rvts57
{
 font-family: 'Consolas';
 color: #000000;
 background-color: #e8f2fe;
}
span.rvts58
{
 font-family: 'Consolas';
 font-style: italic;
 color: #2a00ff;
 background-color: #e8f2fe;
}
span.rvts59
{
 font-size: 16pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts60
{
 font-family: 'Consolas';
 color: #000000;
}
span.rvts61
{
 font-family: 'Consolas';
 color: ;
}
span.rvts62
{
 font-family: 'Consolas';
 font-style: italic;
 color: ;
}
span.rvts63
{
 font-family: 'Consolas';
 color: #2a00ff;
 background-color: #ffff80;
}
span.rvts64
{
 font-family: 'Consolas';
 font-style: italic;
 font-weight: bold;
 color: #2a00ff;
 background-color: #ffff80;
}
span.rvts65
{
 font-family: 'Consolas';
 color: #3f7f5f;
}
a.rvts66, span.rvts66
{
 font-family: 'Consolas';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts67
{
 font-size: 12pt;
 font-family: 'Constantia';
}
span.rvts68
{
 font-family: 'Consolas';
 color: #000000;
 background-color: #e8f2fe;
}
span.rvts69
{
 font-family: 'Consolas';
 color: #2a00ff;
 background-color: #e8f2fe;
}
span.rvts70
{
 font-family: 'Consolas';
 font-weight: bold;
 color: #7f0055;
 background-color: #e8f2fe;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'Consolas';
}
span.rvts72
{
 font-family: 'Consolas';
 font-weight: bold;
 color: #7f0055;
}
span.rvts73
{
 font-family: 'Consolas';
 color: #2a00ff;
}
span.rvts74
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts75
{
 font-family: 'Consolas';
 color: #2a00ff;
 background-color: #e8f2fe;
}
span.rvts76
{
 font-family: 'Consolas';
 color: #000000;
 background-color: #d4d4d4;
}
span.rvts77
{
 font-size: 20pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts78
{
 font-size: 20pt;
 text-decoration: underline;
}
span.rvts79
{
 font-family: 'Consolas';
 color: #7f007f;
}
span.rvts80
{
 font-family: 'Consolas';
 font-style: italic;
 color: #2a00ff;
}
span.rvts81
{
 font-family: 'Consolas';
 font-style: italic;
 color: #2a00ff;
 text-decoration: underline;
}
span.rvts82
{
 font-family: 'Consolas';
 color: #3f7f7f;
}
span.rvts83
{
 font-family: 'Consolas';
 color: #7f007f;
 text-decoration: underline;
}
span.rvts84
{
 font-family: 'Consolas';
 font-style: italic;
 color: #2a00ff;
 background-color: #ffff80;
}
span.rvts85
{
 font-family: 'Consolas';
 color: #000000;
 background-color: #ffff80;
}
span.rvts86
{
 font-family: 'Consolas';
 color: #8cb4d2;
}
span.rvts87
{
 font-family: 'Consolas';
 color: #002060;
}
span.rvts88
{
 font-size: 12pt;
 font-family: 'Consolas';
 color: #0000bf;
}
span.rvts89
{
 font-family: 'Consolas';
 color: ;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: center;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 text-align: center;
 margin: 0px 0px 0px 24px;
}
.rvps7
{
 margin: 0px 0px 0px 24px;
}
.rvps8
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps9
{
 text-align: center;
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps10
{
 text-indent: 48px;
 margin: 0px 0px 0px 72px;
}
.rvps11
{
 text-indent: 48px;
 margin: 0px 0px 0px 120px;
}
.rvps12
{
 text-indent: 48px;
 margin: 0px 0px 0px 24px;
}
.rvps13
{
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
.rvps14
{
 text-indent: 48px;
 margin: 0px 0px 0px 240px;
}
.rvps15
{
 text-indent: 48px;
 margin: 0px 0px 0px 144px;
}
.rvps16
{
 text-indent: 48px;
 margin: 0px 0px 0px 168px;
}
.rvps17
{
 text-indent: 48px;
 margin: 0px 0px 0px 96px;
}
.rvps18
{
 text-indent: 48px;
 margin: 0px 0px 0px 288px;
}
.rvps19
{
 text-indent: 48px;
 margin: 0px 0px 0px 384px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: decimal;}
.list1 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: decimal;}
.list2 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;}
.list3 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;}
.list4 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: square;}
.list5 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;}
