<div class="">
	    <div class="panel panel-default" >
        <div class="panel-heading text-left">Role Permissions</div>
        <div class="panel-body">

            <form name="EditRole"  >
                <div class="form-group row">
                    <label  class="col-sm-2 form-control-label h5">Role Name</label>
                    <div class="col-sm-4">

                        <select class="form-control" ng-model="groupSelect" name="roleSelect"
                        		ng-options="data.name as data.name for data in RoleListDetails"
                        		ng-change="PermissionByRole(groupSelect)"
                        required >
                        </select>
  		               <span class="formError"  ng-show="EditRole.groupSelect.$dirty && EditRole.groupSelect.$error.required">Select RoleName</span>
                        
                    </div>
                </div>
           
            </form>
			<div class="clearfix visible-xs-block"></div>
		
	<table class="table table-bordered table-bordered">
            <thead >
            <tr>
                <th>Module</th>
                <th ng-repeat="maindata in PermissionNames">{{maindata.name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Object in ObjectPermissions ">
				<td >{{Object.name}}</td>
                <td ng-repeat="permissionValue in Object.permission " >{{permissionValue.name}}
                	
                		<input type="checkbox" ng-model="permissionValue.enabled"  
                				ng-checked="permissionValue.enabled"
                				ng-click="checkValue($parent.$index,$index,permissionValue.enabled)">
                		
                </td>
               
            </tr>
            </tbody>
        </table>
        
        <button class="btn btn-primary"  ng-disabled="!EditRole.$valid" ng-click="savePermissionData(groupSelect,ObjectPermissions)">Save</button>
        </div>
</div>