<div>
    <button class="btn btn-primary pull-right margt" ng-click="addRole();" ng-show="!showRolePanel">Add Role</button>

    <div class="panel panel-default" ng-show="showRolePanel">
        <div class="panel-heading text-left">{{RoleClickType}}</div>
        <div class="panel-body">

            <form name="RoleForm" novalidate>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label"><h5>Role Name</h5></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  placeholder="New Role Name" ng-model="RoleName" name="FormRoleName" required>
                        <span class="formError" ng-show="RoleForm.FormRoleName.$error.required && RoleForm.FormRoleName.$dirty">Role Name Required</span>
                    </div>
                </div>


                <div class="form-group row">
                    <label  class="col-sm-2 form-control-label">Role Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  placeholder="Role Description" ng-model="RoleDescription" name="FormRoleDescription" required>
                   		<span class="formError" ng-show="RoleForm.FormRoleDescription.$error.required && RoleForm.FormRoleDescription.$dirty">Role Description Required</span>
   						
					</div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" ng-disabled="!RoleForm.$valid" ng-click="saveRole(RoleName,RoleDescription);" class="btn btn-primary">
                            {{RoleClickType}}</button>
                        <button type="cancel" ng-click="cancel();" class="btn btn-primary">Cancel</button>

                    </div>
                </div>
            </form>


        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="listTable usergroup">


        <table class="table table-bordered table-hover">
            <thead>
            <tr>

                <th>User Group Name</th>
                <th>User Group Description</th>                
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in RoleListDetails">

                <td>{{data.name}}</td>
                <td>{{data.description}}</td>                
                <td><i ng-click="editRole($index,data)" class="glyphicon glyphicon-pencil"></i></td>
                <td><i ng-click="removeRole($index,data)" class="glyphicon glyphicon-remove"></i></td>
            </tr>

            </tbody>
        </table>
    </div>


</div>
