<div>
    <button class="btn btn-primary pull-right margt" ng-click="addUser();" ng-show="!showUserPanel">Add User </button>

    <div class="panel panel-default" ng-show="showUserPanel">
        <div class="panel-heading text-left">{{UserMgmtClickType}}</div>
        <div class="panel-body">

            <form name="saveUser" novalidate >
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label"><h5>First Name*</h5></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-minlength="3" ng-maxlength="20"  placeholder="First Name (minlength - 3 char)" name="FirstName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="FirstName" required>
                    	<span class="formError" ng-show="saveUser.FirstName.$error.required && saveUser.FirstName.$dirty">Required</span>
   						<span class="formError" ng-show="!saveUser.FirstName.$error.minLength && !saveUser.FirstName.$error.maxLength && saveUser.FirstName.$error.pattern && saveUser.FirstName.$dirty">Please Enter a Valid First Name (Special Characters Not allowed).</span>
   						<span class="formError" ng-show="!saveUser.FirstName.$error.required && (saveUser.FirstName.$error.minlength || saveUser.FirstName.$error.maxlength) && saveUser.FirstName.$dirty">First Name must be between 3 and 20 characters.</span>
                    </div>
                </div>
				
				<div class="form-group row">
                    <label class="col-sm-2 form-control-label"><h5>Last Name*</h5></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  ng-minlength="3" ng-maxlength="20"  placeholder="Last Name (minlength - 3 char)"  name="LastName" ng-model="LastName" ng-pattern="/^[a-zA-Z0-9]*$/" required>
                    	<span class="formError" ng-show="saveUser.LastName.$error.required && saveUser.LastName.$dirty">Required</span>
   						<span class="formError" ng-show="!saveUser.LastName.$error.minLength && !saveUser.LastName.$error.maxLength && saveUser.LastName.$error.pattern && saveUser.LastName.$dirty">Please Enter a Valid Last Name (Special Characters Not allowed).</span>
   						<span class="formError" ng-show="!saveUser.LastName.$error.required && (saveUser.LastName.$error.minlength || saveUser.LastName.$error.maxlength) && saveUser.LastName.$dirty">Last Name must be between 3 and 20 characters.</span>
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 form-control-label"><h5>User Name*</h5></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  ng-minlength="5" ng-maxlength="25" ng-pattern="/^[A-z][A-z0-9]*$/" placeholder="User Name (minlength - 5 char)" name="UserName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="UserName" ng-disabled="userNameInputDisabled" required >
                        <span class="formError" ng-show="saveUser.UserName.$error.required && saveUser.UserName.$dirty">Required</span>
   						<span class="formError" ng-show="!saveUser.UserName.$error.required  && !saveUser.UserName.$error.minLength && !saveUser.UserName.$error.maxLength && saveUser.UserName.$error.pattern && saveUser.UserName.$dirty">UserName Must Start with a Alphabet.</span>
   						<span class="formError" ng-show="!saveUser.UserName.$error.required && !saveUser.UserName.$error.pattern && (saveUser.UserName.$error.minlength || saveUser.UserName.$error.maxlength) && saveUser.UserName.$dirty">User Name must be between 5 and 25 characters.</span>
                    	
                    </div>
 
  </div>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label"><h5>Email Address*</h5></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control"  placeholder="Email Address" name="EmailAddress"  id="email" ng-model="EmailAddress" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  required>
						
                    	<span class="formError" ng-show="saveUser.EmailAddress.$error.required && saveUser.EmailAddress.$dirty">Required</span>
   						<span class="formError" ng-show="!saveUser.EmailAddress.$error.required &&  saveUser.EmailAddress.$error.pattern && saveUser.EmailAddress.$dirty">Enter a Valid Email Id.</span>
   						
                    	
                    </div>
                </div>
				<div class="form-group row">
                    <label class="col-sm-2 form-control-label"><h5>Password*</h5></label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control"  placeholder="Password" ng-model="Password" name="Password" ng-pattern="" ng-minlength="5" ng-maxlength="25" required>
						<span class="formError" ng-show="saveUser.Password.$error.required && saveUser.Password.$dirty">required</span>
   						<span class="formError" ng-show="!saveUser.Password.$error.required && (saveUser.Password.$error.minlength || saveUser.Password.$error.maxlength) && saveUser.Password.$dirty">Passwords must be between 5 and 25 characters.</span>
   						<span class="formError" ng-show="!saveUser.Password.$error.required && !saveUser.Password.$error.minlength && !saveUser.Password.$error.maxlength && saveUser.Password.$error.pattern && saveUser.Password.$dirty">Must contain one lower &amp; and one number</span>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label"><h5>Enabled*</h5></label>
                    <div class="col-sm-10">
                        	<div class="radio">
			  					<label><input type="radio" name="optradio" ng-model="enabled" value="1" checked="true" required>True</label>
			  					<label><input type="radio" name="optradio" ng-model="enabled" value="0">False</label>
							</div>
						<span class="formError"  ng-show="saveUser.enabled.$dirty && saveUser.enabled.$error.required">Please Select a option</span>
                    </div>
                </div>
                
			
                <div class="form-group row">
                    <label  class="col-sm-2 form-control-label">User Role</label>
                    <div class="col-sm-4">

                        <select class="form-control" ng-model="groupSelect" name="groupSelect"
                        		ng-options="data.name as data.name for data in RoleListDetails"
                        required >
                        </select>
                        <span class="formError"  ng-show="saveUser.groupSelect.$dirty && saveUser.groupSelect.$error.required">Select service</span>
                        
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" ng-disabled="!saveUser.$valid" ng-click="saveUserData(FirstName,LastName,UserName,EmailAddress,Password,enabled,groupSelect);" class="btn btn-primary">
                            {{UserMgmtClickType}}</button>
                        <button type="cancel" ng-click="cancel();" class="btn btn-primary">Cancel</button>

                    </div>
                </div>
            </form>


        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="listTable usermagmt">
    <table class="table table-striped">
        <thead>
        <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>UserName</th>
            <th>Email Address</th>
            <th>User Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in UserListDetails">

            <td>{{data.fName}} </td>
            <td>{{data.lName}}</td>
            <td>{{data.userName}}</td>
            <td>{{data.emailId}}</td>
            <td>{{data.roleName}}</td>
            <td><i ng-click="editUser($index,data)" class="glyphicon glyphicon-pencil"></i></td>
            <td><i ng-click="removeUser($index,data)" class="glyphicon glyphicon-remove"></i></td>
        </tr>

        </tbody>
    </table>
    </div>
</div>
