/*Header start*/
.navbar {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-width: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 45px;
    background-color: #867F7F;
}
/*User bar profile */
.user-info {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
    top: 6px;
}
.user-info small {
    display: block;
}
.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    max-width: 40px;
}
.ace-nav>li>a>.ace-icon {
    display: inline-block;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    width: 20px;
}
.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}
/* header end */
/*Left Side start*/
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

}
.nav-list>li {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    border-style: solid;
    border-width: 1px 0 0;
}

.no-skin .nav-list>li.active>a, .no-skin .nav-list>li.active>a:hover, .no-skin .nav-list>li.active>a:focus {
    background-color: #fff;
}
.no-skin .nav-list li.active>a:after {
    border-right-color: #1E2225;

}
.no-skin .nav-list li.active>a:before {
    border-right-color: #AFA8A8;

}
.no-skin .nav-list>li.active:after {
    display: block;
    content: "";
    position: absolute;
    right: -2px;
    top: -1px;
    bottom: 0;
    z-index: 1;
    border: 2px solid;
    border-width: 0 2px 0 0;
    border-color: #777;
}
.no-skin .nav-list>li.open>a {
    background-color: #fafafa;
    color: #191919;
}
.no-skin .nav-list>li.active>a {
    font-weight: 700;
    color: #191818;
}
.no-skin .nav-list>li .submenu>li>a:hover{
    color: #555555;
    background-color: #f1f5f9;

}
.no-skin .nav-list>li:hover>a {
    background-color: #E0E0E0;
    color:#222220;
}
.no-skin .nav-list>li .submenu>li.active>a {
    color: #000000;
}
.no-skin .nav-list>li .submenu>li.active:not(.open)>a {
    background-color: #C8CDD4;
}
/*left end*/
/*header start*/
.breadcrumb {
    background-color: transparent;
    display: inline-block;
    line-height: 20px;
    margin: 6px 22px 0 12px;
    padding: 0;
    font-size: 13px;
    color: #333;
    border-radius: 0;
}
.breadcrumb>li, .breadcrumb>li.active {
    color: #555;
    padding: 0 3px 0 3px;
}
.breadcrumb .home-icon {
    font-size: 20px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: top;
}
.breadcrumb>li>a {
    display: inline-block;
    color:  #000000;
}
.breadcrumb>li, .breadcrumb>li.active {
    color: #555;
    padding: 0 3px 0 3px;
}
a:hover, a:focus {
    color:  #d9534f;
    text-decoration: underline;
}
.page-header h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color:  #000000;
}

.ace-nav>li.light-blue>a {

    background-color: #AFA8A8;
    border-color: #e7e7e7;

}
li.active>a:after {
    border-right-color: #1A1A1B;
}
li.active>a:before {
    border-right-color: #AFA8A8;
}
.panel-default > .panel-heading {
    color: #000000;

}
.btnBackGround {
    border: solid 1px #D0C6C6;
    padding: 1px 4px;
    /* background: #211A1A; */
    color: #333;
    border-radius: 2px;
    display: block;
    font-size: 11px;
}
.ace-nav>li.light-blue>a:hover, .ace-nav>li.light-blue>a:focus, .ace-nav>li.open.light-blue>a {
    background-color: #BBC3C7;
}