.zeropadding{
    padding: 0;
}
.btnBackGround{
    border: solid 1px #bbb;
    padding: 1px 4px;
    background: #e0e0e0;
    color: #337ab7;
    border-radius: 2px;
    display: block;
    font-size: 11px;
}
.addRadial{
    width: 70%;
    height: 200px;
    box-sizing: border-box;
    margin: 0 auto;
}
.addRadial .arc{
    stroke-weight: 0.1;
    fill: #1d871b;
}
.selectedRadial {
    border-radius: 3px;
    background: #f4f4f4;
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border: 1px solid rgba(200,200,200,0.85);
}

.radial {
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;

}
.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #585858;
    font-size: 13px;
    font-weight: bold;
}

.arc {
    stroke-weight:0.1;
    fill: #4e8fff;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}


.yaxis text{
    font: 10px sans-serif;
}
.xaxis text{
    font: 10px sans-serif;

}

.xaxis path, .xaxis line{
    fill: none;
    stroke : #373737;
    shape-rendering: crispEdges;
}
.yaxis path, .yaxis line{
    fill: none;
    stroke : #373737;
    shape-rendering: crispEdges;
}
.main-container{
    background: #E4E6E9;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: rgb(255, 127, 14);
}

.bar:hover {
    fill: orangered ;
}

.x.axis path {
    display: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.margt{
    margin-bottom: 5px !important;
}
.loginP{
    background: #5090C1;
    border-top: 2px solid #597597;
    padding: 4px;
}








/*prateek */

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}






.widget-stats .stats-icon.stats-icon-lg {
    font-size: 52px;
    top: 12px;
    right: 21px;
}

.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 15px;

}
.bg-green {
    background: #00acac!important;
}
.widget.widget-stats {
    position: relative;
}
.widget {
    margin-bottom: 20px;
    color: #fff;
    padding: 15px;
}
.widget-stats .stats-progress {

    background: rgba(0,0,0,.2);
    height: 2px;
    margin: 0 -15px 12px;
}
.widget-stats .stats-title {
    color: #fff;
    color: rgba(255,255,255,.6);
}
.widget-stats .stats-title {
    position: relative;
    line-height: 1.1;
    font-size: 12px;
    margin: 2px 0 7px;
}
.widget-stats .stats-number {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}
.widget-stats .stats-desc {
    font-weight: 300;
    margin-bottom: 0;
}

.widget-stats .stats-desc, .widget-stats .stats-title {
    color: #fff;
    color: rgba(255,255,255,.6);
}
.bg-blue {
    background: #348fe2!important;
}
.bg-purple {
    background: #727cb6!important;
}
.bg-black {
    background: #2d353c!important;
}
.widget-stats .stats-progress .progress-bar {
    background: #fff;
}
.margin-right-5{
	margin-right:5px;
}
.btn-scroll-up1{
	background: #428bca!important
}
.formError{
	color: #d15b47!important;
}
.formSuccess{
	color:#629b58!important;
}

.bgAqua{
    background: #1F4979;
    color: white;
    padding: 5px;
    text-align: center;
}

.tableHead{
    background:#1F4979;
    color: white;
}

.ODred {background-color:#FF7070;color: black !important}
.ODorange {background-color:#E8C825;color: black !important}
.ODgreen {background-color:#99BB66;color: black !important}

.ODheading{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.ODPointer{
    cursor: pointer;
}

.sampleBox{
    border: 2px solid black;
    height: 95px;
}

.sampleBoxSmaller{
    border: 2px solid black;
    height: 50px;
}

.sampleBoxBigger{
        border: 2px solid black;
        height: 200px;
}

.mt10{
    margin-top:10px;
}

.mt4{
    margin-top:4px;
}

.ODbold{
    font-weight: bold;
}

.dcThroughPutPlaceholder{
    border: 2px solid black;
    height: 75px;
    margin-bottom:15px;
}

.ODdropdownRowHead{
    background:#1F4979;
    border-right: 1px solid #F0F8FF;
    color: #fff;
    padding: 2px;
}

.bgAquaSmaller{
        background: #1F4979;
        color: white;
        padding-left:5px; padding-right:5px;
        margin: 0px 3px 0px 3px;
        text-align: center;
}

.ODtableCellBorder{
    border: 2px solid red;

}

.ODrow{
    background-color: #DBEEF3;
    border-radius: 10px;
    padding: 10px;
}

.ODscreenHeadingText{
    font-size:2em;
    color: #fff;
    text-align:center;
    margin-left:10px;
    margin-top:10px;
    font-weight: bold;
}

.ODHeader{
    background:#1F4979;
}

.ODHeaderDropdown{
    background: #fff;
    width: 100px;
    padding:5px;
    border-radius:3px;
    margin-top:8px;
}

.ODHeaderDate{
    margin-left:20px;
    border-radius:3px;
    margin-top:5px;
    padding-left:5px;
    width:220px;
}

.mr5{
    margin-right:5px;
}

.ODpanelBackgorund{
    background-color:#DBEEF3;
    padding:10px;
    border-radius: 5px;
    margin-right:5px;
}

.ODpanelBackgorundDashboardThree{
    background-color:#DBEEF3;
    padding:10px;
    border-radius:5px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding:0px !important;
    line-height:1.2 !important;
}

.panel-heading {
    padding: 5px 5px !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 1px ;
    border-top-right-radius: 1px;
}

.page-header {
    margin: 2px !important;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 0px !important;
    padding-top: 0px !important;

}

md-input-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px !important;
    padding-bottom: 0px !important;
    }

body{
    font-size: 12px !important;


}

.page-content{
    padding-top: 0px !important;
}

.ODbackBtn{
    background-color: #fff !important;
    color: black !important;
    margin-top: 13px;
    float: right;
    margin-right: 10px;
}

.OdRefreshBtn{
    padding: 5px;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
        border-radius: 20px;
        cursor: pointer;
}

.md-button.md-icon-button {
        margin: 0 6px;
        height: 10px !important;
        min-width: 10px;
        line-height: 10px !important;
        padding-left: 0;
        padding-right: 0;
        width: 48px;
        border-radius: 50%;
    }

    .md-datepicker-input-container {
        position: relative;
         padding-bottom: 0px !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: inline-block;
        width: 80px !important;
         margin-left: 10px !important;
        }


.md-datepicker-input {
     font-size: 14px;
     box-sizing: border-box;
     border: none;
     box-shadow: none;
     outline: none;
     background: transparent;
     min-width: 100px !important;
      max-width: 120px !important;
     }
.md-datepicker-triangle-button.md-button.md-icon-button {

display:none !important;

}