
<ul class="nav nav-list checkSelect" >
    <li  >
        <a href="/#/dashboard" >
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li  >
        <a href="/#/confDashBoard" >
            <i class="menu-icon fa fa-plane"></i>
            <span class="menu-text"> Airline Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li  >
        <a href="/#/layouts" >
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> Layouts </span>
        </a>

        <b class="arrow"></b>
    </li>
    
   

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Settings </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/#/roleBasedAccess">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Role Based Access
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/#/themeSettings">
                    <i class="menu-icon fa fa-caret-right"></i>
                   UI Themes
                </a>


            </li>
        </ul>
   
    </li>
    <li >
        <a href="../../../Help/VisualizationFramework.html" target="_blank">
        
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> Help </span>


        </a>

    </li>

    <!--<li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
								UI &amp; Elements
							</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>

                    Layouts
                    <b class="arrow fa fa-angle-down"></b>
                </a>


            </li>

            <li class="">
                <a href="typography.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Typography
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="elements.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Elements
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="buttons.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Buttons &amp; Icons
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="content-slider.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Content Sliders
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="treeview.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Treeview
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="jquery-ui.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    jQuery UI
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="nestable-list.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nestable Lists
                </a>

                <b class="arrow"></b>
            </li>


        </ul>
    </li>-->

   <!-- <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Tables </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>




    </li>-->


</ul><!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>


  <!--<div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
     <ul class="nav navbar-nav navbar-right">

         <li ui-sref-active="active">
             <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
                 <span class="glyphicon glyphicon-home"></span>
                 <span class="hidden-sm">Home</span>
             </a>
         </li>

         <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
             <a class="dropdown-toggle" data-toggle="dropdown" href="">
                 <span>
                     <span class="glyphicon glyphicon-th-list"></span>
                     <span class="hidden-sm">
                         Entities
                     </span>
                     <b class="caret"></b>
                 </span>
             </a>
             <ul class="dropdown-menu">
                 &lt;!&ndash; JHipster will add entities to the menu here &ndash;&gt;
             </ul>
         </li>
         <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
             <a class="dropdown-toggle" data-toggle="dropdown" href="">
                 <span>
                     <span class="glyphicon glyphicon-user"></span>
                     <span class="hidden-sm">
                         Account
                     </span>
                     <b class="caret"></b>
                 </span>
             </a>
             <ul class="dropdown-menu">
                 <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>
                     &#xA0;<span>Settings</span></a></li>
                 <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>
                     &#xA0;<span>Password</span></a></li>
                 <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                     &#xA0;<span>Sign out</span></a></li>
                 <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
                     &#xA0;<span>Sign in</span></a></li>
                 <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>
                     &#xA0;<span>Register</span></a></li>
             </ul>
         </li>
         <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown pointer">
             <a class="dropdown-toggle" data-toggle="dropdown" href="">
                 <span>
                     <span class="glyphicon glyphicon-tower"></span>
                     <span class="hidden-sm">Administration</span>
                     <b class="caret"></b>
                 </span>
             </a>
             <ul class="dropdown-menu">
                 <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                     &#xA0;<span>User management</span></a></li>
                 <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                     &#xA0;<span>Metrics</span></a></li>
                 <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                     &#xA0;<span>Health</span></a></li>
                 <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                     &#xA0;<span>Configuration</span></a></li>
                 <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                     &#xA0;<span>Audits</span></a></li>
                 <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                     &#xA0;<span>Logs</span></a></li>
                 <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                     &#xA0;<span>API</span></a></li>
             </ul>
         </li>
     </ul>
 </div>


-->